<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logoV1.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimeStudy | Bem Vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bem_vindo.css') }}">
</head>
<body>
    <div class="main-card">
        <div class="content-left">
            <h1>BEM VINDO AO</h1>
            <h1>PrimeStudy</h1>
            <p>
                O PrimeStudy é uma plataforma feita para organizar e otimizar os seus estudos, 
                com a ajuda de uma inteligencia artificial. Envie PDFs e receba resumos, topicos, flash cards e muito mais. Tudo isso 
                para assim facilitar o seu aprendizado. Junte-se a nós. 
                <a href="#">Saber mais.</a>
            </p>
        </div>
        <div class="icon-container">
            <img src="{{ url_for('static', filename='logoV1.png') }}" alt="Logo da plataforma PrimeStudy" style="width: 280px; height: auto;">
        </div>
        <button class="btn-vamos-la" onclick="window.location.href='/home'">VAMOS LÁ!</button>
    </div>
</body>
</html>