{% extends "home_base.html" %}

{% block titulo %}Home{% endblock %}
{% block titulo_pagina %}{% endblock %}


{% block conteudo %}
        <div class="welcome">
            <h1>Olá{% if session.get('nome') %}, {{ session.get('nome').split()[0] }}{% endif %}!</h1>
            <p>Selecione uma opção no painel à esquerda para começar.</p>
        </div>
{% endblock %}

{% block modais %}
        {% if not session.get('uid') %}
        <div id="modalAviso" class="modal-overlay">
            <div class="modal-content">
                <h2>Atenção</h2>
                <p>Faça login antes de continuar, ou seus estudos não ficarão salvos, e suas ações serão limitadas.</p>
                <button class="btn-modal" id="btnFecharModal">OK</button>
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block scripts %}
    {% if not session.get('uid') %}
    <script>
        document.getElementById('btnFecharModal').addEventListener('click', () => {
            document.getElementById('modalAviso').style.display = 'none';
        });

        window.addEventListener('click', e => {
            const modalAviso = document.getElementById('modalAviso');
            if (e.target === modalAviso) modalAviso.style.display = 'none';
        });
    </script>
    {% endif %}
{% endblock %}